* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.clean {
    clear: both;
}

/*清除浮动*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}

body {
    background-color: #f4f7f6;
    /* height: 830px; */
    /* border: 5px solid black; */
    /* background-color: red; */
    /* overflow: hidden; */
}

/* 点击菜单开始 */
#bg {
    display: none;
    position: absolute;
    float: left;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}
#show {
    display: none;
    position: absolute;
    background-color: #f4f7f6;
    z-index: 1002;
    overflow: auto;
    width: 280px;
    height: 100%;
}

#show ul li {
    height: 20px;
    border: 1px solid #e9eaea;
    padding: 18px;
}

#show ul .show_2:hover {
    background-color: #fff;
}

#show ul .show_1 p span:first-child {
    float: left;
    border-bottom: 2px solid #000000;
}

#show ul .show_1 p span:last-child {
    float: right;
}

#show ul .show_1 p span:last-child i {
    margin-left: 3px;
    color: #000000;
    font-weight: 800;
    font-size: 16px;
}

#show ul li .show_p {
    font-weight: 700;
}
/* 点击菜单结束 */

/* 头部开始 */
.header {
    height: 66px;
    /* border: 1px solid black; */
    border: 1px solid transparent;
}
/* 左边 */
.header_left {
    float: left;
    width: 92px;
    height: 68px;
    /* border: 1px solid green; */

    /* background-color: greenyellow; */
}

.header_left span {
    display: inline-block;
    margin-top: 24px;
    margin-left: 17px;
    font-size: 13px;
    border-bottom: 1px solid #000000;
    /* border: 1px solid red; */
}

/* 中间 */
.header_z {
    height: 68px;
    /* border: 1px solid black; */

    position: absolute;
    right: 100px;
    left: 100px;
    /* background-color: red; */
}

.header_z p {
    margin-top: 25px;
    /* width: 100%; */
    text-align: center;
    /* border: 1px solid blue; */
    /* 一行显示，超出隐藏 */
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    overflow: hidden;
}

/* 右边 */
.header_right {
    float: right;
    width: 92px;
    height: 68px;
    /* border: 1px solid blue; */

    /* background-color:greenyellow ; */
}

.header_right span {
    display: inline-block;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.header_right .header_right_sp {
    margin-left: 13px;
}

.header_right .header_right_sp a i {
    font-size: 20px;
}

.header_right span a i {
    font-weight: 700;
    color: #000;
}

.header_right span a i:hover {
    color: #d0d2d2;
}
/* 头部结束 */


/* 导航栏开始 */
.nav {
    /* position: fixed; */
    position: relative;
    /* height: 68px; */
    width: 100%;
    border: 1px solid transparent;
    border-top: 2px solid #f0f1f1;
    /* border: 1px solid red; */
    background-color: #f4f7f6;

}

/* 左边 */
.nav_left {
    float: left;
    width: 40%;
    /* width: 305px; */
    /* max-width: 305px; */
    height: 68px;
    /* border: 1px solid green; */
    /* background-color: red; */
}

.chunk-box {
    display: flex;
    height: 68px;
    /* border: 1px solid black; */
}

.nav_left .nav_leftl {
    float: left;
    width: 40px;
    height: 20px;
    margin-top: 24px;
    /* border: 1px solid yellow; */
}

.nav_left .nav_leftl i {
    margin-left: 17px;
    font-size: 14px;
}

.nav_left .nav_leftr {
    float: left;
    /* width: 100px; */
    width: 64px;
    height: 20px;
    margin-top: 24px;
    /* border: 1px solid green; */
}

.nav_left .nav_leftr p {
    font-size: 15px;
}

.nav_left .nav_search {
    float: left;
    width: 100px;
    height: 100%;
    /* border: 1px solid blue; */
    border-left: 1px solid #eaeaea;
}

.nav_left .nav_search span {
    display: inline-block;
    /* border: 1px solid black; */
    margin-left: 20px;
    margin-top: 25px;
}

/* 点击搜索 */
.nav_search_in {
    display: none;
    position: absolute;
    left: 100px;
    /* width: 300px; */
    width: 100%;
    height: 67px;
    /* border: 1px solid red; */
    z-index: 10;
}

.nav_search_in input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #ebebeb;
    /* 点击后边框颜色 */
    outline-color:#ebebeb; 
}

.nav_search_x {
    display: none;
    position: absolute;
    right: 0px;
    width: 66px;
    height: 100%;
    /* border: 1px solid red; */
    background-color: #000000;
    z-index: 10;
}

.nav_search_x p {
    line-height: 68px;
    text-align: center;
}

.nav_search_x p i {
    font-size: 35px;
    color: #fff;

}

/* 中间 */
.nav_z {
    float: left;
    width: 20%;
    font-weight: 700;
    /* height: 68px; */
    /* background-color: blue; */
    /* border: 1px solid black; */
    
} 

.nav_z p {
    text-align: center;
    margin-top: 25px;
    text-align: center;
    /* border: 1px solid red; */
    /* 一行显示，超出隐藏 */
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    overflow: hidden;
}

/* 右边 */
.nav_right {
    float: left;
    width: 40%;
    /* height: 68px; */
    /* border: 1px solid blue; */
    /* background-color:greenyellow ; */
    overflow: hidden;
}

.nav_right1 {
    position: absolute;
    right: 20px;
    /* height: 68px; */
    /* border: 1px solid blue; */
}

.nav_right1 .nav_rightl {
    float: left;
    margin-top: 18px;
    /* margin-right: 16px; */
    /* margin-left: 40px; */
    /* position: absolute; */
    /* top: 18px; */
    /* left: 280px; */
    /* border: 1px solid red; */
    width: 114px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    /* 一行显示，超出隐藏 */
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    overflow: hidden;
}

.nav_right1 .nav_rightl a p {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    /* 一行显示，超出隐藏 */
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    overflow: hidden;
    color: #000;
}

.nav_right1 .nav_rightl a i{
    margin-top: 8px;
    margin-left: 14px;
    float: left;
    color: #000;

}

.nav_right1 .nav_rightr {
    float: left;
    margin-top: 18px;
    margin-left: 16px;
    /* position: absolute; */
    /* top: 18px; */
    /* left: 450px; */
    min-width: 114px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    
}

.nav_right1 .nav_rightr a p {
    margin-top: 6px;
    margin-left: 10px;
    float: left;
    /* 一行显示，超出隐藏 */
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    overflow: hidden;
    color: #000;

}

.nav_right1 .nav_rightr a i {
    margin-top: 8px;
    margin-left: 14px;
    float: left;
    color: #000;

}

/* 前端工具下拉导航栏 */
.nav_right1 ul .nav_rightl>ul {
    position: absolute;
    display: none;
    /* border: 1px solid red; */
    width: 225px;
    /* height: 268px; */
    top: 60px;
    z-index: 10;
    border-radius: 5px;  
    background-color: #fff;
    padding-right: 5px;
    padding-bottom: 5px;
}

.nav_right1 ul .nav_rightl>ul .nav_rightll {
    float: left;
    width: 49%;
    height: 100%;
    /* border: 1px solid black; */

}

.nav_rightll .nav_rightllp {
    height: 40px;
    padding-top: 14px;
    /* border: 1px solid blue; */
    border-bottom: 1px solid #d0d2d2;
    text-align: center;
    color: #d0d2d2;
}

.nav_rightll .nav_rightllp1 {
    display: inline-block;
    color: #d0d2d2;
}

.nav_rightll input {
    margin-top: 15px;
    margin-left: 14px;
}

/* 复选框样式修改 */
 input[type=checkbox] {
    cursor: pointer;
    position: relative;
}

/* 未点击时的样式 */
input[type=checkbox]::after {
    position: absolute;
    top: 0;
    background-color: #fff;
    color: #fff;
    width: 14px;
    height: 14px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

input[type=checkbox]:checked::after {
    content: "";
    background-color: #fff;
    border: 2px solid #49c5b6;
    /* border-color: #49c5b6; */
    background-color: #fff;
}

input[type=checkbox]:checked::before {
    content: '';
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    width: 7px;
    height: 7px;
    border: solid white;
    background-color: #49c5b6;
    border-width: 0 2px 2px 0;
    /* transform: rotate(45deg); */
    z-index: 1;
}

.nav_right1 ul>li>ul .nav_rightlr {
    float: left;
    width: 50%;
    height: 100%;
    border-left: 1px solid #d0d2d2;
    /* border: 1px solid yellow; */
}

.nav_rightlr .nav_rightlrp {
    height: 40px;
    padding-top: 14px;
    /* border: 1px solid blue; */
    border-bottom: 1px solid #d0d2d2;
    text-align: center;
    color: #d0d2d2;
}

.nav_rightlr .nav_rightlrp1 {
    display: inline-block;
    color: #d0d2d2;
}

.nav_rightlr input {
    margin-top: 15px;
    margin-left: 14px;
}


/* 前端时间下拉导航栏 */
.nav_right1 ul .nav_rightr>ul {
    position: absolute;
    display: none;
    /* border: 1px solid red; */
    width: 140px;
    /* height: 268px; */
    top: 60px;
    left: 115px;
    z-index: 10;
    border-radius: 5px;  
    background-color: #fff;
    padding-right: 5px;
    padding-bottom: 5px;
}

.nav_right1 ul ..nav_rightr>ul .nav_rightrr {
    /* float: left; */
    /* width: 49%; */
    /* height: 100%; */
    /* border: 1px solid black; */

}

.nav_rightrr .nav_rightrrp1 {
    display: inline-block;
    color: #d0d2d2;
}

.nav_rightrr input {
    margin-top: 15px;
    margin-left: 14px;
}

/* 导航栏结束 */

/* 轮播图开始 */
.im {
    height: 668px;
    /* border: 1px solid red; */
    /* background-color: red; */
    position: relative;
    /* overflow: hidden; */
}

.box {
    position: relative;
    height: 668px;
    /* width: 100%; */
    /* border: 1px solid green; */
}

.box .inner {
    position: relative;
    height: 668px;
    width: 100%;
    /* overflow: hidden; */
}

.box .inner ul {
    /* width: 1000%; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}

.box .inner ul li {
    /* float: left; */
}

.box .inner ul li img {
    /* height: 668px; */
    /* width: 1536px; */
    /* width: 1680px; */
}

.inner img {
    width: 100%;
    height: 668px;
}

/* 图片居中对齐 */
.im_center img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
    z-index: 10;
}

.lb_d {
    position: absolute;
    top: 0px;
    bottom: -596px;
    margin: auto;
    left: 0px;
    right: 0px;
    width: 98px;
    height: 22px; 
    /* border: 1px solid red; */
    /* z-index: 10; */
}

.lb_d ul {
    padding-left: 10px;
}

.lb_d ul li {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #f4f7f6;
    margin-top: 2px;
    margin-right: 6px;
}

.lb_d ul li:hover {
    background-color: #f4f7f6;
}
/* 轮播图结束 */


/* 正文开始 */
.z {
    position: relative;
    /* height: 504px; */
    /* height: 600px; */
    /* background-color: green; */
    min-height: calc(100vh - 504px);
    padding-top: 8px;
}

/* hover图片 */
.zhover_img {
    display: none;
    position: absolute;
    height: 200px;
    width: 100%;
    /* border: 1px solid green; */
    background-color: rgba(0, 0, 0, 0.3);
}

.zhover_img .zhover_img_zj {
    position: absolute;
    width: 164px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    top: 78px;
    left: 75px;
    
}

.zhover_img .zhover_img_zj p {
    text-align: center;
    line-height: 32px;
}

.zhover_img .zhover_img_1 {
    position: absolute;
    top: 14px;
    right: 80px;
    width: 35px;
    height: 18px;
    border: 2px solid #cec6c8;
    border-radius: 50px;
}

.zhover_img .zhover_img_1 a p {
    font-size: 13px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.zhover_img .zhover_img_2 {
    position: absolute;
    top: 14px;
    right: 20px;
    width: 35px;
    height: 18px;
    border: 2px solid #cec6c8;
    border-radius: 50px;
}

.zhover_img .zhover_img_2 a p {
    font-size: 13px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.zhover_img .zhover_img_3 {
    position: absolute;
    top: 154px;
    right: 16px;
    width: 25px;
    height: 25px;
    border: 1px solid #cec6c8;
    border-radius: 50%;
}

.zhover_img .zhover_img_3 p {
    text-align: center;
    color: #fff;
    line-height: 25px;
}

/* hover头像 */
.z_tx {
    position: absolute;
    top: 165px;
    left: -40px;
    width: 152px;
    height: 143px;
    /* border: 1px solid red; */
    z-index: 10;
    display: none;

}

.z_txz {
    width: 152px;
    height: 128px;
    /* border: 1px solid blue; */
    background-color: #fff;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
}

.z_txz img {
    margin-top: 10px;
    /* border: 1px solid red; */
    margin-left: 45px;
}

.z_txz p {
    /* border: 1px solid green; */
    text-align: center;
}

.z_txz .z_txzp1 {
    font-size: 11px;
    color: #e5e5e5;
}

.z_txj {
    width:0;
    height:0;
    border: 6px solid transparent;
    border-top-color: #fff;
    position:absolute;
    bottom: 2px;
    left: 60px;
    content:'';
}

.z_main {
    /* width: 1680px; */
    /* height: 504px; */
    margin-left: 60px;
    margin-right: 60px;
}

.w {
    /* width: 80%; */
    width: 1330px;
    margin: 0 auto;
    /* background-color: red; */
}

.z_main .z_main_top {
    height: 70px;
    /* border: 1px solid #ffffff; */
}

.z_main .z_main_top p {
    line-height: 70px;
}

.z_main_img ul li {
    position: relative;
    float: left;
    width: 290px;
    /* height: 432px; */
    /* border: 1px solid blue; */
    background-color: #fff;
}

.z_main_img ul .z_main_li {
    margin-right: 40px;
}

.z_main_img ul li .z_main_liimg {
    /* position: relative; */
}

.z_main_img ul li .z_main_liimg img {
    height: 200px;
    width: 100%;
}

.z_main_img ul li .z_main_lip1 {
    /* height: 48px; */
    /* border: 1px solid #f0f1f1; */
    margin: 14px 0 14px 16px;
    font-weight: 700;
}

.z_main_img ul li .z_main_lip2 {
    margin: 14px 16px 14px 16px;
    color: #d7d7d7;
    /* border: 1px solid #f0f1f1; */
}

.z_main_img ul li .z_main_lip2 span:first-child {
    float: left;
}

.z_main_img ul li .z_main_lip2 span:last-child {
    float: right;
}

.z_main_bottom {
    position: relative;
    height: 50px;
    /* border: 1px solid red; */
    border-top: 1px solid #efefef;
    margin-top: 8px;
}

.z_main_bottom img {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 25px;
    height: 22px;
    /* border: 1px solid black; */
}

.z_main_bottom p {
    position: absolute;
    top: 15px;
    left: 48px;
    /* border: 1px solid red; */
}

/* 底部 */
.footer {
    height: calc(100% - 1600px);
    /* height: 188px; */
    background-color: #fff;
    margin-top: 96px;
}

.footer_left {
    float: left;
    margin-top: 36px;
    margin-left: 230px;
    /* height: 120px; */
    /* border: 1px solid red; */
}

.footer_left .footer_leftp {
    margin: 28px 0;
}

.footer_right {
    float: right;
    margin-top: 36px;
    margin-right: 270px;
    /* height: 120px; */
    /* border: 1px solid red; */
}

.footer_right p {
    margin-bottom: 20px;
}

.footer_right img {
    /* border: 1px solid red; */
    margin-left: 74px;
}